* {
    margin: 0;
    padding: 0;
    font-family: 'work sans';
}

/*-------   banner  ------- */
.banner {
    width: 100vw;
    height: 100vh;
    background-image: url(images/banner/banner1.png);
    background-size: cover;
    text-align: right;
   
}

.banner-container{
    height: 100%;
   margin:0 90px 0 700px;
   padding-top: 160px;
}

.banner-title{
    color: #151414;
    font-size: 65px;
    font-weight: 700;
    padding-bottom: 20px;

}

.banner-description{
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: #444343;
    padding: 0 0 20px 80px;
}

.banner-btn{
    font-size: 20px;
    color: #ffffff;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    background-color: #F15B22;
    cursor: pointer;
}


/* ------main------ */
main{
    max-width: 1083px;
    margin: 0 auto;
}


/* ------previous year section-------*/

.section1-container{
    display: flex;
    align-items: center;
   margin: 130px 0;
   caret-color: transparent;
}

.section1-container .image{
    padding: 0 15px;
}

.section1-detail{
    margin: 50px 70px 0 140px;
}

.section1-title{
    color: #151414;
    font-size: 40px;
    margin-bottom: 15px;

}

.section1-description{
    color: #444343;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 15px;
}

.section1-list{
    color: #151414b9;
    font-size: 15px;
    line-height: 27px;
}

/* -----plans section----- */

.plan-section{
    text-align: center;

}

.plan-title{
    font-size: 40px;
    margin-bottom: 50px;
}

.plan-container{
    display: flex;
    justify-content: space-evenly;
    margin-bottom:113px;
   
}

.plan{
    width: 300px;
    border: 1px solid #8080800a ;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.4s;
}

.plan:hover{
    box-shadow: 0 5px 4px -2px #808080;
}


.plan img{
    padding-top: 20px;
}

.plan  h2{
    font-size: 30px;
    color: #151414;
    padding: 20px 0 16px 0 ;
}

.plan p{
    color: #737272;
    padding-bottom: 10px;
    
}

/* -------habit section---------- */
.habit-section{
    text-align: center;
}

.habit-section-title{
    font-size: 40px;
    margin-bottom: 10px;
}

.habit-section-subtitle{
    color: #737272;
    margin-bottom: 40px;
}

.habit-container{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 130px;
}

.habit{
    border-radius: 5px;
    width: 150px;
    padding: 15px;
    border: 1px solid #aebdca31;
    box-shadow: 0 0 10px 1px #8080804a;
    transition: 0.4s;
}

#habit-icon{
    font-size: 60px;
    padding: 15px;
}

.habit > p{
    font-size: 20px;
    color: #444343;
    padding: 20px 10px;
}


/*-----mini banner section------- */

.mini-banner{
    height: 301px;
    margin-bottom: 130px;
    position: relative;
    background: linear-gradient(to right,#F15B22, #00000000), url(images/watch.png);
    border-radius: 5px;
}

.mini-banner-text{
    color: #ffffff;
    position: absolute;
    top: 60px;
    left: 64px;
    font-size: 40px;
    font-weight: 700; 
}

.mini-banner-btn{
    position: absolute;
    top: 160px;
    left: 64px;
    color: #F15B22;
    font-size: 20px;
    border: none;
    border-radius: 3px;
    margin-top: 15px;
    padding: 15px 20px;
    cursor: pointer;
}


/* ----footer section----------- */
.foot-container{
    width: 100vw;
    height: 577px;
    background-color: #000;
    color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contact-container > h1{
    font-size: 40px;
    margin-bottom: 15px;
}

.contact-container > p{
    font-size: 16px;
    color: #808080;
    margin-top: 25px;
}

.contact-container > img{
   font-size: 16px;
    margin-top: 25px;
    margin-right: 10px;
}

.subscribe-container{
    height: 250px;
}

.subscribe-container > h3{
font-size: 17px;
    margin-bottom: 25px;
    
}

.subscribe-container input[type=email]{
    font-size: 17px;
    padding: 15px;
    background:none;
    color: #fff;
    border: none;
    border: 1px solid #737272;
    border-radius: 5px;
}


.subscribe-btn{
background-color: #ffff;
color: #F15B22;
font-size: 15px;
padding: 10px;
border: none;
border-radius: 4px;
margin-top: 15px;
}




 


