* {
    margin: 0;
    padding: 0;
    font-family: 'work sans';
}

/*=====   banner  =======  */
.banner {
    width: 1600px;
    height: 808px;
    background-image: url(images/banner/banner1.png);
    text-align: right;
   
}

.banner-container{
    padding-right: 50px;
}
.banner-title{
    font-size: 60px;

}


/* main */
main{
    max-width: 1140px;
    margin: 0 auto;
}